<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="dimension.css">
</head>
<body>
    <div class="axis">
        <img src="icons/militarism.png" alt="">
        <div class="rail left" style="background-color: #25371F; width: 45%;">
            <span class="rail-name">Militarism</span>
            <span class="rail-percent">45%</span>
        </div>
        <div class="rail center" style="width: 10%;">10%</div>
        <div class="rail right" style="background-color: #577BAA; width: 45%;">
            <span class="rail-name">Pacifism</span>
            <span class="rail-percent">45%</span>
        </div>
        <img src="icons/pacifism.png" alt="">
    </div>
</body>
</html>